<% provide(:title, 'Users') %>
	<h1> All Users </h1>
	<div class="pagination pagination-centered">
	<%= will_paginate %>
	</div>
	<table>
		<tr>
	    	<td> First name </td> 
			<td> Last name </td> 
			<td> Admin? </td>
			<% if current_user.admin? %>
			<td> Edit link </td>
			<td> Delete link </td>
			<% end %>
			<td> Message link </td>
		</tr> 
		<% @users.each do |user| %>
		<tr>
			<td> <%= user.first_name %> </td> 
			<td> <%= user.last_name %> </td> 
			<td> <%= user.admin %> </td> 
			<% if current_user.admin? %>
			<td> <%= link_to 'Edit', edit_user_path(user) if user.last_name != 'Base' %> </td>
			<td> <%= link_to 'Delete', user, method: :delete if user.last_name != 'Base' %> </td>
			<% end %>
			<td> <%= link_to 'Send message', newmessage_path(:id => user) %> </td> 
		</tr>
		<% end %>
	</table>
	<div class="pagination pagination-centered">
	<%= will_paginate %>
	</div>


