<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title))%></title>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
	</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<div class = "info">
			<% if !signed_in? %>
				<p>You are not signed in!</p>
				<div align = "left"><p>Параметры для входа в приложение: <br /><hr />
					Admin: <br />
					Login: Base <br />
					password: customer
					</p> <hr />
					<p>
					Manager: <br />
					Login: Koen <br />
					password: password </p> 
				</div>
				<%= link_to "Sign in", signin_path, class: "btn" %>
			<% elsif signed_in? %>
				<p> Yo are signed:<p>
				<%= "#{current_user.first_name} #{current_user.last_name}" %>
				<hr />
				You are: <% if current_user.admin? %> Admin <% else %> Manager <% end %>
				<hr />
				<% if current_user.messages.any? %>
				You have <%= link_to "#{current_user.messages.count} messages" ,mymessages_path %> 
				<% else %>
				You have no messages.
				<% end %>
				<hr />
				<%= link_to "Sign out", signout_path, class: "btn" %>
			<% end %>
		</div>
		<div class="general">
			<% flash.each do |key,value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>